body {
  font-family: verdana;
}
form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.error {
  background-color: tomato;
  padding: 0.5rem;
  color: cornSilk;
}

body {
  background-color: aqua;
  min-height: 100vh;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
}

.footer-social {
  background-color: teal;
  height: 70px;
  padding: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
