body {
  font-family: verdana;
}

nav {
  display: flex;
  justify-content: space-around;
}

.error {
  background-color: red;
  padding: 0.5rem;
  color: cornSilk;
}

body {
  background-color: white;
  min-height: 100vh;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
}

