.images-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
  }
  
  .images-container img {
    border-radius: 5px;
    box-shadow: 0 2px 4px #ff00cc;
    max-width: 125px; 
    height: auto; 
    margin-bottom: 10px;
  }

  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;  
  }