.images-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .images-container img {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }